[run]
# Specify the directories and files to include in coverage
source =
    main.py
    src
    utils

# Optionally, omit certain files or directories
omit =
    */tests/*
    */__init__.py
    */migrations/*
    setup.py

[report]
# Include all specified sources in the report, even if not executed
include =
    main.py
    src/*.py
    src/**/*.py
    utils/*.py
    utils/**/*.py

# Show missing lines in the terminal report
show_missing = true

# Sort files by coverage percentage
sort = Cover

[xml]
# Specify the output file for XML report
output = coverage.xml